# vim
*~
*.swo
*.swp

# C
*.o
*.d

# lexing and parsing
src/regex_dfa.h
src/regex_dfa.c
src/lexer.h
src/lexer.c
src/parser.h
src/parser.c
src/parser.output

#
out/
build/
hulk/
comp

# test
**/__pycache__/*
out
out.ll
